body {
    background-color: #dba987;
    color: rgb(111, 9, 9);
    font-family: "Oswald", sans-seriif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgb(111, 9, 9);
    color: white;
    font-family: "Oswald", sans-serif;
}

.passo{
    display:none;
}

.passo.ativo{
    display: block;
}

img {
    margin-left: 170px;
    margin-right: 170px;
    max-width: 50%;
    height: 50px;
}
